<html>
    <head>
        <title>Download</title>
    </head>
    <body>
        <% 
            for (let folder of folders) {
                <a href="../data/<%= file%>" download><%= file %></a>
            }
        %>
        <% for (let file of data) { %>
            <a href="../data/<%= file%>" download><%= file %></a>
        <% } %>
    </body>
</html>